<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Characters</key>
	<array>
		<dict>
			<key>letter</key>
			<string>a</string>
			<key>morseSymbol</key>
			<string>12</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>b</string>
			<key>morseSymbol</key>
			<string>2111</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>c</string>
			<key>morseSymbol</key>
			<string>2121</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>d</string>
			<key>morseSymbol</key>
			<string>211</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>e</string>
			<key>morseSymbol</key>
			<string>1</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>f</string>
			<key>morseSymbol</key>
			<string>1121</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>g</string>
			<key>morseSymbol</key>
			<string>221</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>h</string>
			<key>morseSymbol</key>
			<string>1111</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>i</string>
			<key>morseSymbol</key>
			<string>11</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>j</string>
			<key>morseSymbol</key>
			<string>1222</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>k</string>
			<key>morseSymbol</key>
			<string>212</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>l</string>
			<key>morseSymbol</key>
			<string>1211</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>m</string>
			<key>morseSymbol</key>
			<string>22</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>n</string>
			<key>morseSymbol</key>
			<string>21</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>o</string>
			<key>morseSymbol</key>
			<string>222</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>p</string>
			<key>morseSymbol</key>
			<string>1221</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>q</string>
			<key>morseSymbol</key>
			<string>2212</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>r</string>
			<key>morseSymbol</key>
			<string>121</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>s</string>
			<key>morseSymbol</key>
			<string>111</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>t</string>
			<key>morseSymbol</key>
			<string>2</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>u</string>
			<key>morseSymbol</key>
			<string>112</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>v</string>
			<key>morseSymbol</key>
			<string>1112</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>w</string>
			<key>morseSymbol</key>
			<string>122</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>x</string>
			<key>morseSymbol</key>
			<string>2112</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>y</string>
			<key>morseSymbol</key>
			<string>2122</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>z</string>
			<key>morseSymbol</key>
			<string>2211</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>1</string>
			<key>morseSymbol</key>
			<string>12222</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>2</string>
			<key>morseSymbol</key>
			<string>11222</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>3</string>
			<key>morseSymbol</key>
			<string>11122</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>4</string>
			<key>morseSymbol</key>
			<string>11112</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>5</string>
			<key>morseSymbol</key>
			<string>11111</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>6</string>
			<key>morseSymbol</key>
			<string>21111</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>7</string>
			<key>morseSymbol</key>
			<string>22111</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>8</string>
			<key>morseSymbol</key>
			<string>22211</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>9</string>
			<key>morseSymbol</key>
			<string>22221</string>
		</dict>
		<dict>
			<key>letter</key>
			<string>0</string>
			<key>morseSymbol</key>
			<string>22222</string>
		</dict>
	</array>
</dict>
</plist>
